

body{
    border: solid 8px gray;
}

.Header{
    border: solid 12px white;
    color: black;
    text-align: center;
    background-color: rebeccapurple;
    
}
#top-stuff{
    display: flex;
    flex-direction: row;
    width:90%;
    justify-content: space-between;
    margin: auto;
    
}
.Picture{
    border: solid 12px black;
    display: flex;
    justify-content:center;
    background-color: darkslategray;
}
.About-Section{
    border: solid 12px white;
    color: black;
    padding-left: 10px;
    background-color: darkolivegreen;
    
}
.My-Works{
    
}
